/* 이모지 관련 css */

/* 팀원(김진수) */
.img-box1 {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url('/img/KJS.png');
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
}
.img-box1:hover {
    background-image: url('/img/KJS2.gif')
}

/* 팀원(조인재) */
.img-box2 {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url('/img/JIJ.png');
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
    bottom:20px
}
.img-box2:hover {
    background-image: url('/img/JIJ2.png')
}
/* 팀원(김성훈) */
.img-box3 {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url('/img/KSH.png');
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
    top: 80px;
}

.img-box3:hover {
    background-image: url('/img/KSH2.png')
}

/* 팀원(윤수민) */
.img-box4 {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url('/img/YSM.png');
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
    top: 100px;
}

.img-box4:hover {
    background-image: url('/img/YSM2.png')
}

/* 팀원(안홍민) */
.img-box5 {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url('/img/YSM.png');
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
    margin-right: 20px;
    top: 80px;
}

.img-box5:hover {
    background-image: url('/img/YSM2.png')
}