* {
    font-family: 'Noto Sans KR', sans-serif;
}

:root {
    --gap: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.box {
    display: flex;
    padding: var(--gap);
    gap: var(--gap);
    min-height: 800px;

}

.box-sidebar,
.box-contents {
    padding: var(--gap);
}

.box-i {
    width: 300px;
    height: 850px;
    flex-shrink: 0;
}

.box-top {
    width: 300px;
    height: 600px;
    padding: var(--gap);
    border: solid 1.5px rgb(32, 32, 32);
    border-radius: 40px;


}

.box-under {
    height: 100px;
    border: solid 1.5px rgb(32, 32, 32);
    border-radius: 40px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-under:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.2s;
    cursor: pointer;
}

.box-contents {
    flex-grow: 1;
    align-items: center;
    height: 850px;
    border: solid 1.5px rgb(32, 32, 32);
    border-radius: 40px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

a:hover {
    color: black;
    font-weight: bold;

}

.member {
    font-size: 20px;
    font-weight: bold;
}

.team-list {
    list-style: none;
    padding-left: 0px;
    max-height: 600px;
}

.team-name {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }

.imoji {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
    margin: 10px 20px 10px 10px;
}

li {
    padding-top: 10px;
}

li:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.2s;
}

.content {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
    margin-right: 20px;
    gap: 100px;

}

.main-imoji {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
}

.controls {
    width: 70%;
    font-size: 18px;

}

.tbox {
    width: 400px;
    margin: 2px;
    border: none;
    border-bottom: solid 1px black;
    background-color: transparent;

}

.tbox:focus {
    outline: none;
}

.change-btn, .submit-btn {
    padding: 5px 8px 5px 8px;
    background-color: transparent;
    border-radius: 10px;
}

.change-btn, .submit-btn:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.2s;
}

.btn {
    margin: auto;
    display: block;
}