<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>메인페이지</title>

    <style>
        body {
            background: url(/img/body.png) no-repeat center fixed;
            background-size: cover;
            
        }
        .div_car{
            text-align: center;
            position: relative;
            top: 300px;
            
        }
        .emoji{
            text-align: center;
            position: relative;
            top: 350px;
        }
    </style>
</head>

<body>

    <div class="emoji">
        <a class="test" href="test.html">
            <div class="img-box1">
            </div>
        </a>
        <a class="test" href="test.html">
            <div class="img-box2">
            </div>
        </a>
        <a class="test" href="test.html">
            <div class="img-box3">
            </div>
        </a>
        <a class="test" href="test.html">
            <div class="img-box4">
            </div>
        </a>
        <a class="test" href="test.html">
            <div class="img-box5">
            </div>
        </a>
    </div>
<div class="div_car">
<img src="../img/car.png" style="width:80%;height:550px;" alt="">
</div>
</body>

</html>